<div class="example-container">
    <h3>Account</h3>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="User" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="password" type="password"/>
        </mat-form-field>

     
            <button mat-raised-button class="mybtn-success" type="submit" (click)="signUp()">
                <mat-icon>rowing</mat-icon>
            </button>
     

      </form>
</div>


        

